#gewinnspiel {
  margin: 50px 0 120px;
  padding: 50px 0 0;
  color: white;
  background: black;

  h3 {
    text-transform: uppercase;
    font-family: Brandongm;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.05em;
    margin: 50px 0 -70px;
  }

  .stage_wrapper {
    position:relative;
    bottom: -75px;
    .stage-inner {
      position: relative;

      .stageborder_1,.stageborder_2 {
        position: absolute;
        background: black;
        z-index: 98;
      }

      .stageborder_1 {
        top: -7px;
        right: -7px;
        bottom: -7px;
        left: -7px;
      }

      .stageborder_2 {
        top: 0px;
        right: 0px;
        bottom: -13px;
        left: -13px;
      }

      .stage {
        position: relative;
        background: white;
        z-index: 99;
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        color: black;
      }
      .item {
        display: none;

        &.active {
          display: block;
        }
      }
      .questions
      {
        display: table;
        width: 100%;
        .row {
          display: table-row;
        }
        .question {
          width: 50%;
          text-align: center;
          vertical-align: middle;
          font-family: EamesCMExtraBold;
          text-decoration: underline;
          font-size: 3.5vw;
          @media screen and (min-width: 1400px) {
            font-size: 2vw;
          }
          display: table-cell;
          padding: 15px 20px;
          @media screen and (min-width: 500px) {
            padding: 30px 40px;
          }
          &.left {
            background: #30cfe3;
            position: relative;
          }
          &.right {
            background: #eb5e14;
          }


          .front,.back {
          }
          .front {

          }
          .back {
            display: none;

            img {
              max-width: 80%;
            }
          }

          &.active {
            .front {
              display: none;
            }
            .back {
              display: block;
            }
          }
        }

      }
      .step_0 .question {
        text-decoration: none !important;

        font-size: 15vw;
      }
      .steps {
        position: relative;
        padding: 10px 15px 20px;

        @media screen and (min-width: 500px) {
          padding: 20px 80px 40px;
        }

        .counter {
          position: absolute;
          right: 30px;
          bottom: 30px;
          font-family: BrandongmBLACK;
          font-size: 22px;
        }
        .hide {
          display: none;
        }
      }

    }
  }



}