            <div class="quotes">
                <div class="quotes-wrapper">
                    <ul id="owl-demo" class="owl-carousel owl-theme">
                        {% assign counter = 0 %}
                        {% for item in site.quotes %}<li class="item font-{{ item.size }} tweet-{{ counter }}">{{ item.text }}</li>
                        {% assign counter = counter | plus: 1 %}
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- .quotes -->