.quotes {
  margin: 30px auto 0;
  max-width: 95%;

  .quotes-wrapper {
    max-width: 100%;
  }

  @media screen and (min-width: 730px) {
    margin: 120px auto 0;
  }
  @media screen and (min-width: 675px) and (max-width: 729px) {
    max-width: 90%;
    .quotes-wrapper {
      max-width: 80%;
    }
  }
  @media screen and (min-width: 730px) and (max-width: 1009px) {
    max-width: 50%;
    .quotes-wrapper {
      max-width: 80%;
    }
  }

  @media screen and (min-width: 1010px) and (max-width: 1769px) {
    max-width: 70%;
    .quotes-wrapper {
      max-width: 80%;
    }
  }
  @media screen and (min-width: 1770px) {
    max-width: 75%;
    .quotes-wrapper {
      max-width: 90%;
    }
  }
  text-align: center;
  font-family: 'EamesCMExtraBold';

  .quotes-wrapper {
    margin: 0 auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        border-bottom: 2px solid black;
        @media screen and (min-width: 730px) {
          border-bottom: 4px solid black;
        }

        &.font-6 {
          font-size: 6vw;
        }
        &.font-5 {
          font-size: 5vw;
        }
        &.font-45 {
          font-size: 4.5vw;
        }
        &.font-4 {
          font-size: 4vw;
        }
        &.font-3 {
          font-size: 3vw;
        }
      }
    }
  }
}